.picture-frame {
  /* border: 1px solid black; */
  margin: 20px;
}

.picture-frame > img {
  object-fit: cover;
  border-radius: 16px;
}

#uploaded-image1 {
  width: 648px;
  height: 486px;
}

#uploaded-image2 {
  width: 448px;
  height: 480px;
}

#uploaded-image3 {
  width: 704px;
  height: 300px;
}

#uploaded-image4 {
  width: 564px;
  height: 540px;
}
